table(border=1)
    thead 
        tr 
            th FULLNAMES 
            th NUMBERPHONES 
    tbody
        tr 
            td HOMSERO SIMPSON 
            td 001-455789
        tr 
            td MARGE SIMPSON 
            td 002-456790
        tr 
            td BART SIMSON
            td 003-869542 