doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Template
        link(rel="stylesheet", href="/css/styles.css") 
    style 
        body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

table {
  width: 200px;
  border-collapse: collapse;
}

td {
  height: 50px;
  color: white;
  text-align: center;
  font-size: 1.5em;
}

tr:nth-child(1) { background-color: #007a8a; }
tr:nth-child(2) { background-color: #0097a7; }
tr:nth-child(3) { background-color: #00acc1; }
tr:nth-child(4) { background-color: #00bcd4; }
tr:nth-child(5) { background-color: #26c6da; }
tr:nth-child(6) { background-color: #4dd0e1; }
tr:nth-child(7) { background-color: #80deea; }
tr:nth-child(8) { background-color: #b3e5fc; }
tr:nth-child(9) { background-color: #d7effc; }
tr:nth-child(10) { background-color: #e1f5fe; }

    body.pug 
        nav    
            a(href="../index.html")
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512")
                    path(path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z")
        main   
            header 
                h1 17-challenge 
                p Lorem
            section
                 table
      each i in [1,2,3,4,5,6,7,8,9,10]
        tr
            td #{i}